.container {
    display:grid;
    place-items: center;
    height:100vh;
    align-content:center;
    

}

h2{
    text-align:center;
}

button{
    margin:20px;
    padding:10px;
}

#entryBox {
    display: flex;
    justify-content: center;
    align-items:center;
    height:300px;
    padding:10px;
    
}

form {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    height: 100%;
    position: relative; 
}

.form-content{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#entryText {
    width:100%;
    box-sizing: border-box;
    resize:vertical;
}

#saveButton {
    margin-top:5px;
}