.container {
    display:grid;
    place-items: center;
    height:100vh;
    align-content:center;
    
}



h2 {
    text-align:center;
    font-size:30px;
}

.heading1{
    font-size:50px;
    border-bottom: 10px groove;
    
}

.buttonContainer{
    display:flex;
    justify-content:space-around;
    align-items: center;
    
}

button{
    margin:20px;
    font-size:20px;
    width:200px;
    height:60px;
    text-align: center;
    box-sizing:border-box;
    background-color:#e6e6e6;
}

