.container {
    display:grid;
    place-items: center;
    height:100vh;
    align-content:center;
    
}

.pastButton{
    padding:5px;
    margin:10px;
    font-size:20px;
    background-color:#f6e5fe
}

.entry {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.entry p {
    margin: 5px 0;
}

#entriesContainer {
    padding: 20px;
}

#entriesList {
    list-style-type: none;
    padding: 0;
}

#entriesList li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#entriesList li button {
    background-color: #dc3545; /* Red color for delete button */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#entriesList li button:hover {
    background-color: #c82333; /* Darker red on hover */
}